<div class="container-fluid body">
    <div class="row mt-2">
        <div class="col-12  shadow">
            <div class="row ">
                <div class="col-6  text-center p-2">
                    <h2>Insurance Portal</h2>
                </div>
                <div class="col-6 text-end  p-3">
                    <button routerLink="/insurance" class="btn btn-sm btn-success p-2">Add Complaint</button>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="table table-bordered shadow">
                <thead>
                    <tr class="text-center" >
                        <th>
                            Sr No
                        </th>
                        <th> Name</th>
                        <th> contactNo</th>   
                        <th> EmailId</th>
                        <th> City</th>
                        <th> State</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr class="text-center"   *ngFor="let item of complaintArrya;let sr= index ">
                        <td>{{sr+1}}</td>
                        <td>{{item.firstName}} {{item.lastName}}</td>
                        <td>{{item.contactNo}}</td>
                        <td>{{item.emailID}}</td>
                        <td>{{item.city}}</td>
                        <td>{{item.state}}</td>
                        <td>
                            <button class="btn btn-sm bg btn-success mx-2" (click)="onedit(item.id)">Edit</button>
                            <button class="btn btn-sm bg btn-danger mx-2 " (click)="ondelete(item.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>